@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url(espaco.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

div img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}